@media (min-width: 960px) and (max-width: 1350px) {
  header {
    padding: 20px 100px 0;
  }

  .topnav {
    padding: 20px 100px;
  }

  .topnav ul {
    gap: 25px;
    margin-right: 0px;
  }

  .illustration {
    gap: 5%;
  }

  .virtual h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }

  .virtual {
    margin-top: 60px;
    width: 50%;
  }

  .virtual p {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 20px 0;
  }

  /* .btncontact {
    font-size: 15px;
    font-weight: 700;
    padding: 10px 30px;
  } */

  .our-services {
    margin-top: 70px;
    padding: 0 100px;
  }

  .kkk {
    padding: 0 10%;
  }

  .servtext h3 {
    font-size: 32px;
    font-weight: 600;
  }

  .addj {
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: 300px;
  }

  .grab {
    padding: 0 120px;
  }

  .grid-services {
    row-gap: 20px;
    column-gap: 20px;
  }

  .img99 {
    position: absolute;
    left: 0;
    top: -250px;
  }

  .img99 img {
    width: 100%;
  }
  .img97 {
    position: absolute;
    right: 100px;
    top: 35%;
  }

  .server {
    border-radius: 15px;
    padding: 30px 15px;
  }

  /* .btnmore {
    font-size: 15px;
    font-weight: 700;
    color: #458ff6;
    padding: 10px 20px;
    margin: 0 43%;
  } */

  /* leading */

  .leading {
    margin: 70px 100px 0 70px;
    column-gap: 70px;
  }

  .leadtext h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .leadtext p {
    font-size: 15px;
    line-height: 27px;
  }

  /* .btnlead {
    padding: 12px 30px;
  } */

  /* download app */
  .appdown {
    margin: 150px 50px 0 100px;
    column-gap: 60px;
  }

  .apptext h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .apptext p {
    font-size: 15px;
    line-height: 27px;
  }

  .apptext button {
    text-align: left;
  }

  /* .btnapp {
    padding: 12px 30px;
  } */

  /* testimonials */
  .testimonials {
    margin: 180px 100px 120px;
  }

  .testi {
    padding: 10px 60px 50px;
  }

  .testihead {
    font-size: 27px;
    margin-bottom: 40px;
  }

  .testiprop {
    gap: 20px;
  }

  .testiprop p {
    font-size: 17px;
    line-height: 25px;
    text-align: left;
    margin-left: 30px;
  }

  .arrownav .img11 {
    margin-right: 40px;
  }

  .arrownav .img22 {
    margin-left: 40px;
  }

  /* article */
  .articlemain {
    margin: 150px 100px 50px;
  }

  .articlegrid {
    column-gap: 25px;
    margin-top: 70px;
  }

  .articlebox p,
  .articlebox h3,
  .articlebox h6 {
    padding: 0 30px;
    margin: 20px 0;
  }

  .articlebox h3 {
    font-size: 17px;
    line-height: 28px;
  }

  .articlebox h6 {
    font-size: 14px;
    line-height: 24px;
  }

  .articlebox p {
    font-size: 15px;
  }

  .artrec {
    right: -100px;
  }

  .articletext h2 {
    font-size: 32px;
    text-align: left;
    text-align: center;
  }

  /* .btnview {
    padding: 15px 55px;
    margin: 70px 38%;
  } */

  /* footer */
  .ffdetails {
    padding: 50px 100px;
    column-gap: 50px;
  }

  .footcom h4,
  .footreg h4,
  .foothelp h4 {
    font-size: 15px;
    margin: 12px 0;
  }

  .footdetails h4 {
    font-size: 15px;
  }

  .footdetails h3 {
    font-size: 22px;
    margin: 12px 0;
  }

  .footdetails p {
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    margin: 10px 0;
  }
}

@media (min-width: 600px) and (max-width: 960px) {
  header {
    padding: 20px 50px;
  }

  .topnav {
    padding: 10px 50px;
  }

  .topnav ul {
    gap: 15px;
    margin: 0;
  }

  .virtual,
  .illus {
    width: 50%;
  }

  .grab {
    padding: 0 50px;
  }

  .grid-services {
    margin: 70px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 35px;
    column-gap: 35px;
  }

  .server {
    padding: 20px 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }

  .server h3 {
    /* font-size: 24px;
    font-weight: 700; */
    text-align: center;
  }

  .server img {
    height: 70px;
    display: flex;
    justify-content: center;
  }

  .server p {
    /* font-size: 16px;
    font-weight: 300;
    line-height: 28px; */
    text-align: center;
  }

  /* .btnmore {
    padding: 10px 25px;
    font-size: 12px;
    margin: 0 40%;
  } */

  .leading {
    margin: 30px 50px;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .leadtext .leadrec {
    bottom: -40px;
    left: 70%;
    right: 15px;
  }

  .leadtext {
    text-align: right;
  }

  .leadtext p,
  .leadtext h3 {
    text-align: right;
  }

  .appdown {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  .testi {
    padding: 20px;
    margin-top: 50px;
  }

  .testimonials {
    margin: 50px;
    position: relative;
  }

  .articlemain {
    margin: 50px;
  }

  .articlegrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .artrec {
    position: absolute;
    top: -150px;
    right: -50px;
  }

  /* .btnview {
    padding: 10px 25px;
    font-size: 12px;
    margin: 10% 40%;
  } */

  .ffdetails {
    padding: 50px;
    column-gap: 50px;
    margin: 0;
  }
}
